################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

AMSS/bin
AMSS/obj
AMSS/appsettings.Development.json
.vs
AMSS/.vs